.information__slogan {
  min-height: 248px;

  background: #ffffff;
}

.information__slogan-title {
  margin: 0;
  padding-top: 50px;

  font-weight: 300;
  font-size: 27px;
}

.information__list {
  .list-clear();
}

.features-list__slogan {
  font-weight: 700;
  font-size: 18px;
}

.features-list__description {
  font-size: 14px;
}

.information__list-block {
  min-height: 755px;

  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 50% 110%;
}

.information__effect {
  display: none;
}

@media (min-width:@tablet-width) {
  .information__effect {
    display: block;
  }
}
