.reviews {
  background-color: #ffffff;
}

.reviews__item-button {
  display: none;
}
.reviews__slider {
  margin-top: 14px;
  padding-bottom: 18px;
}

.reviews__slider label {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 5px;

  background: #bec2c7;
  border: 2px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    background: #7e868f;
  }
  &:active {
    background: #e9ebec;
  }
}

#button1:checked ~ .reviews__slider-label1,
#button2:checked ~ .reviews__slider-label2,
#button3:checked ~ .reviews__slider-label3 {
  background: #ffffff;
  border: 2px solid black;
  border-radius: 50%;
}

.reviews__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
}
.reviews__item {
  margin: 0;

  text-align: center;
}
.reviews__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  padding-top: 42px;
  // padding-bottom: 16px;
}

.reviews__name-prof {
  display: none;

  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}
.reviews__text {
  line-height: 30px;
}



@media (min-width:@tablet-width) {
  .reviews__name-prof {
    display: block;
  }

  .reviews__item {
    display: flex;
    flex-direction: column-reverse;
  }

  .reviews__text {
    font-size: 18px;
    line-height: 30px;
  }

  .reviews__name {
    margin-top: 18px;

    font-size: 20px;
    line-height: 30px;
  }

  .reviews__name-prof {
    line-height: 30px;
  }

  .reviews__wrapper {
    padding-top: 51px;
  }

  .reviews__slider {
    margin-top: 31px;
    padding-bottom: 23px;
  }
}

@media (min-width:@desktop-width) {
  .reviews {
    background-image: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;
    background-position: center 72px;
  }
  .reviews__item-wrapper {
    display: flex;
    align-items: center;
  }

  .reviews__item-button {
    position: relative;

    display: block;
    width: 50px;
    height: 50px;
    margin: 0 88px;
    margin-bottom: 70px;

    background-color: #ffffff;
    border: none;
    cursor: pointer;
  }



  .reviews__item-button-rew::before {
    content: "";
    position: absolute;
    top: 33px;
    left: 5px;

    width: 30px;
    height: 3px;

    background: #bec2c7;
    transform: rotate(135deg);
  }
  .reviews__item-button-rew::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 5px;

    width: 30px;
    height: 3px;

    background: #bec2c7;
    transform: rotate(-135deg);
  }

  .reviews__item-button-ff::before {
    content: "";
    position: absolute;
    top: 33px;
    left: 5px;

    width: 30px;
    height: 3px;

    background: #bec2c7;
    transform: rotate(45deg);
  }
  .reviews__item-button-ff::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 5px;

    width: 30px;
    height: 3px;

    background: #bec2c7;
    transform: rotate(-45deg);
  }

  .reviews__item-button:hover .reviews__item-button-rew::before,
  .reviews__item-button:hover .reviews__item-button-rew::after,
  .reviews__item-button:hover .reviews__item-button-ff::after,
  .reviews__item-button:hover .reviews__item-button-ff::before {
    background: #7e868f;
  }

  .reviews__item-button:active .reviews__item-button-rew::before,
  .reviews__item-button:active .reviews__item-button-rew::after,
  .reviews__item-button:active .reviews__item-button-ff::after,
  .reviews__item-button:active .reviews__item-button-ff::before {
    background: #e9ebec;
  }

  .reviews__slider {
    display: none;
  }

  .reviews__item {
    width: 690px;
  }
  .reviews__wrapper {
    padding-top: 174px;
    padding-bottom: 50px;
  }
  .reviews__name {
    font-size: 24px;
    line-height: 30px;
  }

  .reviews__name-prof {
    font-size: 18px;
    line-height: 30px;
  }
}
